In [1]:
import pandas as pd
import warnings

warnings.filterwarnings('ignore')

In [2]:
drinks = pd.read_csv('exercise_data/drinks.csv')
drinks.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF

### step1: 哪个大陆(continent)平均消耗的啤酒(beer)更多？

In [3]:
drinks.groupby('continent')['beer_servings'].mean()

continent
AF     61.471698
AS     37.045455
EU    193.777778
OC     89.687500
SA    175.083333
Name: beer_servings, dtype: float64

### step2: 打印出每个大陆(continent)的红酒消耗(wine_servings)的描述性统计值

In [9]:
drinks.groupby('continent')['beer_servings'].describe()

           count        mean        std   min     25%    50%     75%    max
continent
AF          53.0   61.471698  80.557816   0.0   15.00   32.0   76.00  376.0
AS          44.0   37.045455  49.469725   0.0    4.25   17.5   60.50  247.0
EU          45.0  193.777778  99.631569   0.0  127.00  219.0  270.00  361.0
OC          16.0   89.687500  96.641412   0.0   21.00   52.5  125.75  306.0
SA          12.0  175.083333  65.242845  93.0  129.50  162.5  198.00  333.0

### step3: 打印出每个大陆每种酒类别的消耗平均值¶

In [10]:
drinks.groupby('continent').mean()
# drinks.groupby('continent').median()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
continent,,,,
AF,61.471698,16.339623,16.264151,3.007547
AS,37.045455,60.840909,9.068182,2.170455
EU,193.777778,132.555556,142.222222,8.617778
OC,89.687500,58.437500,35.625000,3.381250
SA,175.083333,114.750000,62.416667,6.308333

### step4: 打印出每个大陆对spirit饮品消耗的平均值，最大值和最小值¶

In [12]:
drinks.groupby('continent')['spirit_servings'].agg(['mean', 'max', 'min', 'std'])

                 mean  max  min        std
continent
AF          16.339623  152    0  28.102794
AS          60.840909  326    0  84.362160
EU         132.555556  373    0  77.589115
OC          58.437500  254    0  70.504817
SA         114.750000  302   25  77.077440